.public-repo {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.public-repo__content {
  display: grid;
  grid-row-gap: 10px;
  justify-items: center;
  overflow-y: auto;
}

.content__card {
  width: 80%;
}

.public-repo__header {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.content__card {
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.card__title {
  font-size: 20px;
}
