<div class="public-repo">
  <div class="public-repo__header">
    <app-header-authenticated
      (changeToken)="changeToken()"
    ></app-header-authenticated>
  </div>

  <div class="public-repo__content" *ngIf="publicRepos$ | async as publicRepos">
    <mat-card
      class="content__card"
      *ngFor="let publicRepo of publicRepos"
      (click)="gotoRepoDetails(publicRepo?.nameWithOwner)"
    >
      <mat-card-title class="card__title">
        {{ publicRepo?.nameWithOwner }}</mat-card-title
      >
      <mat-card-subtitle>
        <p>{{ publicRepo?.description }}</p>
        <p>
          <i class="fa fa-star"></i>
          <span> {{ publicRepo?.stargazerCount }}</span>
        </p></mat-card-subtitle
      >
    </mat-card>

    <app-paginator
      *ngIf="pageInfo$ | async as pageInfo"
      [isBackEnabled]="pageInfo.hasPreviousPage"
      [isForwardEnabled]="pageInfo.hasNextPage"
      (back)="gotoPreviousPage(pageInfo.startCursor)"
      (forward)="gotoNextPage(pageInfo.endCursor)"
    ></app-paginator>
  </div>
</div>
