<mat-progress-bar
  class="progress"
  [class.progress--visible]="authenticateReportProgress.isInProgress$ | async"
  mode="query"
></mat-progress-bar>

<div class="login">
  <form [formGroup]="loginFormGroup" (ngSubmit)="authenticate()">
    <h1>Github Issue Explorer</h1>
    <p>Enter your API token to start browsing issues of public repositories</p>

    <p>Your API Token</p>
    <mat-form-field appearance="fill" class="login__input-form-field">
      <input matInput formControlName="authToken" />
      <mat-error *ngIf="controls?.['authToken']?.errors?.['required']">
        Personal access token required.
      </mat-error>
    </mat-form-field>

    <p>
      <button mat-raised-button color="primary" type="submit">
        Start browsing
      </button>
    </p>
    <p>It is only stored on your machine as long as you are on this page</p>

    <p
      class="login__error"
      *ngIf="authenticateReportProgress.isFailed$ | async"
    >
      The token you provided is invalid. Please click
      <a
        href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token"
        target="_blank"
        >here</a
      >
      and follow the instructions on how to generate a new Token
    </p>
  </form>
</div>
