.login {
  height: 100%;
  display: grid;
  width: 60%;
  margin: 30px auto auto auto;
  text-align: center;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

.login__input-form-field {
  width: 100%;
  margin-bottom: 40px;
}
