<div class="login">
  <form [formGroup]="loginFormGroup" (ngSubmit)="authenticate()">
    <h1>Github Issue Explorer</h1>
    <p>Enter your API token to start browsing issues of public repositories</p>

    <p>Your API Token</p>
    <mat-form-field appearance="fill" class="login__input-form-field">
      <input matInput formControlName="authToken" />
      <mat-error *ngIf="controls?.['authToken']?.errors?.['required']">
        Personal access token required.
      </mat-error>
    </mat-form-field>

    <p>
      <button mat-raised-button color="primary" type="submit">
        Start browsing
      </button>
    </p>
    <p>It is only stored on your machine as long as you are on this page</p>
  </form>
</div>
