<div class="details">
  <div class="details__header">
    <app-header-authenticated
      (changeToken)="changeToken()"
    ></app-header-authenticated>
  </div>

  <div class="details__content" *ngIf="issues$ | async as issues">
    <p
      class="content__repo-details"
      *ngIf="repoDetails$ | async as repoDetails"
    >
      <span class="repo-details__name-owner">
        <b> {{ repoDetails.nameWithOwner }}</b></span
      >
      <br />
      <span><b> Description:</b> {{ repoDetails.description }}</span> <br />
      <span><b> Created on:</b> {{ repoDetails.createdAt | date }}</span>
    </p>
    <p class="content__isssues-title">Issues</p>
    <mat-card class="content__card" *ngFor="let issue of issues">
      <a [href]="issue?.url" target="_blank">
        <mat-card-title class="card__title"> {{ issue?.title }}</mat-card-title>
        <mat-card-subtitle>
          <p class="card__content">
            <span>#{{ issue?.number }}</span>
            <span>{{ issue?.state }}</span>
            <span>created on {{ issue?.createdAt | date }}</span>
            <span>by {{ issue?.author?.login }}</span>
          </p>
        </mat-card-subtitle>
      </a>
    </mat-card>

    <app-paginator
      *ngIf="pageInfo$ | async as pageInfo"
      [isBackEnabled]="pageInfo.hasPreviousPage"
      [isForwardEnabled]="pageInfo.hasNextPage"
      (back)="gotoPreviousPage(pageInfo.startCursor)"
      (forward)="gotoNextPage(pageInfo.endCursor)"
    ></app-paginator>
  </div>
</div>
